#task-list {
  list-style-type: none;
}

.task {
  border: thin solid black;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.task span {
  flex-grow: 1;
}

.search {
  background-color: #282424;
  padding-left: 10px;
  margin-left: 10px;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  width: 20%;
  display: flex;
  /* flex-direction:row; */
  align-items: center;
}

.search:hover,
.search:focus {
  border: 1.5px solid #009688;
  color: white;
}

input.search-query {
  background-color: #f47443;
  color: white;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}

body {
  padding-top: 33px;
}
